name: Java CI

permissions:
  contents: read

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '11' ]
        maven: [ '3.6.3', '3.8.8', '3.9.9' ]
    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        distribution: "temurin"
        java-version: ${{ matrix.java }}
    - name: Set up Maven
      run: mvn -e -B -V org.apache.maven.plugins:maven-wrapper-plugin:3.3.2:wrapper "-Dmaven=${{ matrix.maven }}"
    - name: Build with Maven
      run: ./mvnw -e -B -V clean verify -Dnjord.enabled=false
